.contrast {
  filter: contrast(200%);
}

.pointer {
  cursor: zoom-in;
}

.picto {
  max-width: 92%;
}

.zoom {
  max-width: 100%;
}

.index-bg {
  background-image: url("/background.jpg");
  background-image: -webkit-image-set(url('/background.webp') 1x);
  height: 60vh;
  background-position: center;
  background-size: cover;
}

.opacitybg {
  background-color: #2f828f5d;
}
