.contrast {
  filter: contrast(200%);
}

.pointer {
  cursor: pointer;
}

.picto {
  max-width: 92%;
}

.index-bg {
  background-image: url("/background.jpg");
  background-image: -webkit-image-set(url('/background.webp') 1x);
  height: 60vh;
  background-position: center;
  background-size: cover;
}
